/*App*/
.App {
  padding: 2%;
  margin: 2%;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.heading {
  text-align: center;
  margin-bottom: 2%;
  background-color: #00bfff;
  color: white;
}

/*main container*/
.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, auto));
}
.main-container .components {
  width: 100%;
}
/* profile -pic */
.profileAvatar {
  width: 150px;
  position: relative;
}
.profileAvatar:hover figcaption {
  opacity: 1;
  visibility: visible;
}
.profileAvatar figcaption {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  opacity: 0;
  padding: 2em;
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease, visibility 0.5s;
  visibility: hidden;
  width: 100%;
}

/*rating*/
.rating {
  margin-top: 2%;
}

/* comment*/
textarea {
  width: 100%;
  height: 25%;
  padding: 2%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}
.displayedComments {
  list-style-type: none;
}
.displayedComments li {
  padding-top: 2%;
  margin-left: -3%;
}

/* signupform*/
.form-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.register {
  width: 300px;
  border: 1px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
}

form label,
form input {
  display: block;
  width: 100%;
}

form input {
  padding: 10px;
  border: solid 1px #bdc7d8;
}

.button {
  background-color: #00bfff;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 2%;
  outline: 0 !important;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6b8e23;
  margin-bottom: 10px;
}

/*star rating*/
.star-rating__checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.star-rating__star {
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.5em;
  color: #ababab;
  transition: color 0.2s ease-out;
}
.star-rating__star:hover {
  cursor: pointer;
}
.star-rating__star.is-selected {
  color: #ffd700;
}
.star-rating__star.is-disabled:hover {
  cursor: default;
}
