.profileAvatar {
  width: 150px;
  position: relative;
}
.profileAvatar:hover figcaption {
  opacity: 1;
  visibility: visible;
}
.profileAvatar figcaption {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  opacity: 0;
  padding: 2em;
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease, visibility 0.5s;
  visibility: hidden;
  width: 100%;
}

.displayedComments {
  list-style-type: none;
}
